@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: BioRhyme;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    color: white;
    background-color: black;
}

nav a{
    text-decoration: none;
    margin: 0 1.3em;
    color: white;
font-size: 0.9em;
}

nav Link{
    text-decoration: none;
    margin: 0 1.3em;
    color: white;
    font-size: 0.9em;

}

nav a:hover{
    text-decoration: none;
    margin: 0 1.3em;
    color: orange; 
    
}

header .nav-btn{
outline: none;
border: none;
background:transparent;
color: white; 
justify-content: center;
visibility: hidden;
opacity: 0;
}


.div-span{
    position: relative;
}
.div-span-cart{
    position: absolute;
    margin-top: -2.8rem;
    margin-left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 520px) and (max-width: 1000px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
        top: 2em;
        right: 2em;
    }

    header .nav-close-btn{
        position: absolute;
        top: 2em;
        right: 2em;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height:40%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.3em;
        background-color: black;
        transition: 1s;
        transform: translateY(-100vh);
    }
    header .responsive_nav{
        transform: none;
    }
}


@media (max-width: 520px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
        top: 2em;
        right: 2em;
    }

    header .nav-close-btn{
        position: absolute;
        top: 2em;
        right: 2em;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height:40%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.3em;
        background-color: black;
        transition: 1s;
        transform: translateY(-100vh);
    }
    header .responsive_nav{
        transform: none;
    }
}